* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #575757;
    --secondary-color: #BDD0C0;
    --btn-primary-color: #ECECEC;
    --btn-secondary-color: #F4A24D;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 480px;
    background-color: var(--primary-color);
    border-radius: 5%;
}

.displayContainer {
    width: 100%;
    height: 30%;
}