* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #575757;
    --secondary-color: #BDD0C0;
    --btn-primary-color: #ECECEC;
    --btn-secondary-color: #F4A24D;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #92C7CF;
}

.container {
    width: 400px;
    height: 450px;
    background-color: var(--primary-color);
    border-radius: 5%;
    box-shadow: 0px 18px #424242;
}

.displayContainer {
    width: 400px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    font-family: "Courier New", "Monaco", "Consolas", monospace;
    width: 80%;
    height: 50%;
    background-color: var(--secondary-color);
    border-radius: 8px;
    text-align: right;
    font-size: 4.5rem;
    color: #333333c9;
    font-weight: bold;
    box-shadow: 0px 4px #bdd0c094, 0px -4px #bdd0c094, 6px 10px rgba(0,0,0,0.2), -6px 10px rgba(0,0,0,0.2), 6px -4px rgba(0,0,0,0.2), -6px -4px rgba(0,0,0,0.2);
}

.btn {
    height: 60px;
    width: 80px;
    border: none;
    font-size: 2rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btnRow {
    display: flex;
    gap: 10px;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.operator {
    background-color: var(--btn-secondary-color);
    box-shadow: 0px 5px #f4a34da9, 0px 8px black;
    color: white;
}

.number, .clear {
    box-shadow: 0px 5px #ececec96, 0px 8px black;
}